aiohttp
aiohttp-retry
aiosignal
asgiref
async-timeout
attrs
certifi
cffi
charset-normalizer
click
cloudinary
cryptography
Deprecated
Django
django-cloudinary-storage
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
dlib
drf-yasg
face-recognition
face-recognition-models
frozenlist
googlemaps
gunicorn
idna
inflection
multidict
