aiohttp
aiohttp-retry
aiosignal
asgiref
async-timeout
attrs
certifi
cffi
charset-normalizer
click
cloudinary
cryptography
Deprecated
Django
django-cloudinary-storage
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
dlib
drf-yasg
face-recognition
face-recognition-models
frozenlist
googlemaps
gunicorn
idna
inflection
multidict
mysql-connector-python
mysqlclient
numpy
packaging
Pillow
protobuf
pycparser
pydantic
PyJWT
python-dotenv
pytz
PyYAML
requests
six
sqlparse
twilio
typing_extensions
uritemplate
urllib3
vonage
vonage-jwt
wrapt
yarl
PyMySQL